body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Header and Navigation*/

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #0056b3;
  transition: all 1s;
}

/* Main sections */

.main-section {
  padding: 40px 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
}

/* Forms */

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rbga(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 1rem;
}

input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transition: all 1s;
}

.result-box {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 15px;
    margin: 20px 0;
    background-color: #f8f9fa;
    display: inline-block;
    font-size:1.2em;
    color: #333;
  }
  
  .result-box p {
      margin: 0;
}
      
/* Result */

.result {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}


}
/* Footer */

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  position: fixed;
  width: 100%;
  bottom: 0;
}
